/* ------  Description  --------- */
/* ---------
Version: 1.0
Date: 26th Dec 2019
Author: Chaeah Park
--------- */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #F6F8FF;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 400px;
  min-height: 630px;
  /*height: 100%;*/
  border-radius: 20px;
  background-color: #2E3530;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------Calculator basic setup-------*/
.calculator {
  width: 80%;
  height: 100%;
  padding: 2rem 0;
  /*height: 80%; nothing happens*/
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-gap: 1rem;
}

/*------Display-------*/
.calculator__display {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text {
  text-align: center;
}

.display--small {
  min-height: 25px;
  background-color: ;
  /*----guideline ----*/
  /*border: 2px solid yellow;*/

}

.display--big {
  min-height: 85px;
  background-color: ;

  /*----guideline ----*/
  /*border: 2px solid yellow;*/
}

#text--big {
  font-size: 2.5rem;
  margin: 1rem 0;
}

#text--small {
  margin: 0;
}

/*------Keys-------*/
.calculator__keys {
  width: 100%;
  height: 100%;
  /* key size is shrunken*/

  /*----guideline ----*/
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}


form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  grid-gap: 0.5rem;
  /*for testing*/
  /*margin: 0.3rem 0.3rem;*/

  /*----guideline ----*/
  /*border: solid 2px white;*/
}

.calculator__key {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0;
}

.calculator__key:hover {
  cursor: pointer;
}

.number,
#point {
  color: #F6F8FF;
  background-color: #2E3530;
  /*----guideline ----*/
  /*border: 1px solid green;*/
}

.operator,
#solve {
  color: #2ABFAD;
  background-color: #F6F8FF;
}

#arrow {
  background-color: #AAAAAA;
}

#allClear {
  background-color: #AAAAAA;
}

#point {
  background-color: ;
}



@media screen and (max-width: 765px) {
  .container {
    min-width: 300px;
  }
}